.title{
  font-size: 36px;
  padding-top: 10px;
  text-align: center;
}

.elements {
  margin-left: 20px;
}

/*header {*/
/*  border: 1px solid #d1d1d1;;*/
/*  margin: 20px;*/
/*}*/

/*button {*/
/*  font-weight: 700;*/
/*  color: white;*/
/*  text-decoration: none;*/
/*  padding: .8em 1em calc(.8em + 3px);*/
/*  border-radius: 3px;*/
/*  background: rgb(64,199,129);*/
/*  box-shadow: 0 -3px rgb(53,167,110) inset;*/
/*  transition: 0.2s;*/
/*}*/
