<div>
  <header>
    <h1 class="title">Logging Service</h1>
    <div class="container">
      <button class="container__button" (click)="tableFormat()">Table</button>
      <button class="container__button" (click)="textFormat()">Text</button>
    </div>
    <div align="center">
      <p>
        Select start date:
        <input [(ngModel)]="httpService.dateStart"  type="datetime-local">
      </p>
      <p>
        Select end date:
        <input [(ngModel)]="httpService.dateEnd" type="datetime-local">
      </p>
      <p>
        Shown logs between {{httpService.dateStart | date :  "dd/MM/yyyy - hh:mm:ss"}} and {{httpService.dateEnd | date:  "dd/MM/yyyy - hh:mm:ss"}}
      </p>
      <p>
        <button class="container__button"(click)="httpService.update()">Show logs</button>
      </p>
    </div>
  </header>
</div>
