.table {
  width: calc(100% - 20px);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-content: center;
}

.table-row{

}

.table-row_marked{
  color: blue;
}

.table-row__header-cell{
  text-align: center;
  font-size: 20px;
}

.table-row__source-cell{
  text-align: center;
}

.table-row__date-cell{
  white-space: pre;
  text-align: center;
}

.table-row__message-cell{
  text-align: left;
}

