<table class="table" [border]="displayedColumns">
  <tr>
    <th class="table-column__header-cell" *ngIf="this.httpService.currentSource=='not specified' || this.httpService.currentSource==null">Source</th>
    <th class="table-column__header-cell">Date-time</th>
    <th class="table-column__header-cell">Message</th>
  </tr>
  <tr *ngFor="let item of this.httpService.logs | paginate:{itemsPerPage: this.httpService.pageSize, currentPage: this.httpService.currentPage, totalItems: this.httpService.totalItems} ">
    <th *ngIf="this.httpService.currentSource=='not specified' || this.httpService.currentSource==null" class="table-column__source">{{item.source}}</th>
    <th class="table-column__date">{{item.dateTime | date: "dd/MM/yyyy - hh:mm:ss"}}</th>
    <th class="table-column__message">{{item.message}}</th>
  </tr>
</table>
<pagination-controls (pageChange)="this.httpService.currentPage = $event; onChange()">
</pagination-controls>
