.login_button{
  padding: 5px 10px;
  text-align: center;
  margin-top: 10px;
  display: inline-block;
  border-radius: 4px;
  font-size: 0.875em;
  color: #ED4159;
  box-shadow: 0px 4px 16px rgba(237, 65, 89, 0.4);
}

.alert{
  font-size: 25px;
  padding-top: 10px;
  text-align: center;
  color: darkred;
}

.label{
  font-size: 20px;
  font-family: Verdana;
  color: darkred;
}
