<div align="center" class="alert alert-primary">
  <h2>Please, provide your credentials</h2>
</div>
<div class="container">
  <form class="form" role="form" (submit)="login()">
    <div class="container w-25">
      <label for="username" class="label">Username:</label>
      <input type="text" class="form-control" id="username" name="username" [(ngModel)]="this.username"/>
    </div>
    <div class="container w-25">
      <label for="password" class="label">Password:</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="this.password"/>
    </div>
    <div class="container w-25 pt-3">
      <button class="btn btn-primary" type="submit">Submit</button>
    </div>
  </form>
  <div class="container w-25 p-3">
    <label class="label">Don't you have an account?</label>
    <button class="btn btn-primary" type="submit" (click)="signUp()">Sign Up</button>
  </div>
</div>
