<app-toolbar></app-toolbar>
<ul class="list-group">
  <li class="list-group-item" [ngClass]="{'list-group-item_marked': item.id == this.logService.markedLogId}"
      *ngFor="let item of this.logService.logs | paginate:{itemsPerPage: this.logService.pageSize, currentPage: this.logService.currentPage, totalItems: this.logService.totalItems} ">
    {{item.source}} | {{ item.dateTime | date: "dd/MM/yyyy - hh:mm:ss" }} | {{ item.message }}
  </li>
</ul>
<pagination-controls class="pagination pt-3" (pageChange)="this.logService.currentPage = $event; onChange()"></pagination-controls>
