<div class="row px-3">
  <div class="row p-3">
    <div class="btn-group pl-3">
      <button type="button" class="btn btn-outline-primary" (click)="tableFormat()">Table</button>
      <button type="button" class="btn btn-outline-primary" (click)="textFormat()">Text</button>
    </div>
  </div>

  <div class="row p-3 px-3">
    <div class="px-3 pt-1"><p>From: </p></div>
    <div><input class="form-control" type="datetime-local" [value]="dateStart" (keyup)="setStartDate($event)"></div>
  </div>

  <div class="row p-3 px-3">
    <div class="px-3 pt-1"><p>To: </p></div>
    <div><input class="form-control" type="datetime-local"  [value]="dateEnd" (keyup)="setEndDate($event)"></div>
  </div>

  <div class="row p-3">
    <div class="px-3 pt-1"><p>Source: </p></div>
    <app-select></app-select>
  </div>

  <div class="p-3">
    <button class="btn btn-outline-primary" (click)="logService.save()">Save logs</button>
  </div>
</div>
