<div class="container">
  <button class="container__button" (click)="tableFormat()">Table</button>
  <button class="container__button" (click)="textFormat()">Text</button>
</div>

<div class="container">
  <button class="container__button" (click)="logService.save()">Save logs</button>
</div>

<div class="container">
  <p>
    From: <input [(ngModel)]="logService.dateStart" type="datetime-local">
  </p>
</div>

<div class="container">
  <p>
    To: <input [(ngModel)]="logService.dateEnd" type="datetime-local">
  </p>
</div>

  <!--<p>
    Shown logs between {{logService.dateStart | date :  "dd/MM/yyyy - hh:mm:ss"}} and {{logService.dateEnd | date:  "dd/MM/yyyy - hh:mm:ss"}}
  </p>-->

<div class="container">
  <p>
    Source: <app-select></app-select>
  </p>
</div>

<div class="container">
  <button class="container__button"(click)="logService.update()">Apply</button>
</div>
